<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655728664375-ttgr6ooelhet381vburb76c8od30pb3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655728664375-ttgr6ooelhet381vburb76c8od30pb3s</string>
	<key>API_KEY</key>
	<string>AIzaSyAZLnZYDQ3BMoB-RVhg5GurxXjp-Ixxyhk</string>
	<key>GCM_SENDER_ID</key>
	<string>655728664375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ryuprogrammer.Bloom</string>
	<key>PROJECT_ID</key>
	<string>bloomapp-caa16</string>
	<key>STORAGE_BUCKET</key>
	<string>bloomapp-caa16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655728664375:ios:e228d8514ce419af5144b2</string>
</dict>
</plist>